
<mat-card class="mat-elevation-z12">
  <mat-card-title style="text-align:center;">Create new task</mat-card-title>
        <mat-card-content>
<form action="">
    <mat-form-field class="example-full-width">
      <input
        [(ngModel)]="nameTask"
        matInput
        name="nameTask"
        placeholder="Task name"
        required
      />
      <mat-error>Name is required</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <textarea
        [(ngModel)]="descriptionTask"
        matInput
        name="descriptionTask"
        placeholder="Description"
      ></textarea>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <input
          [formControl]="myControlTwo"
          [matAutocomplete]="autotwo"
          aria-label="sprint"
          matInput
          placeholder="Sprint"
          required
          type="text"
        />
        <mat-error>Required! Select a sprint.</mat-error>
        <mat-autocomplete #autotwo="matAutocomplete" [displayWith]="displayFnTwo">
          <mat-option
            *ngFor="let optiontwo of filteredOptionsTwo | async"
            [value]="optiontwo"
          >
            {{ optiontwo.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <br>
    <mat-form-field>
      <mat-label>difficulty</mat-label>
      <mat-select [(value)]="difficulty">
        <mat-option *ngFor="let difficulty of difficulties" [value]="difficulty">
          {{ difficulty }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input
        [(ngModel)]="storyPoints"
        matInput
        name="storyPoints"
        placeholder="Story points"
      />
    </mat-form-field>
    <br>
    <!-- <mat-form-field>
      <mat-label>progress</mat-label>
      <mat-select [(value)]="progress">
        <mat-option *ngFor="let progress of progresses" [value]="progress">
          {{ progress }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    
    <mat-form-field class="example-full-width">
      <input
        [formControl]="myControl"
        [matAutocomplete]="auto"
        aria-label="AssignedPerson"
        matInput
        placeholder="Assigned person"
        required
        type="text"
      >
      <mat-error>Assigned person is required</mat-error>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option.displayName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br>
    <button
      (click)="saveTask()"
      class="login-button"
      color="primary"
      mat-raised-button
      matTooltip="Save the data"
    >
      Create
    </button>
  </form>
</mat-card-content>
</mat-card>
  
