


<div class="mat-elevation-z8">
    <app-widget-statusbar [data]="statusBar" [label]="statusLabel" ></app-widget-statusbar>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <div fxFlex="100">
        <div class="mat-elevation-z8">
<table mat-table [dataSource]="tasks | async" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> </td>
    </ng-container>
    <ng-container matColumnDef="nameTask">
        <th mat-header-cell *matHeaderCellDef> nameTask </th>
        <td mat-cell *matCellDef="let element"> {{element.nameTask}} </td>
    </ng-container>
    
    <ng-container matColumnDef="descriptionTask">
        <th mat-header-cell *matHeaderCellDef> descriptionTask </th>
        <td mat-cell *matCellDef="let element"> {{element.descriptionTask}} </td>
    </ng-container>
    
    <ng-container matColumnDef="sprint">
        <th mat-header-cell *matHeaderCellDef> sprint </th>
        <td *matCellDef="let element" mat-cell> {{element.sprint.name}}</td>
    </ng-container>
    <ng-container matColumnDef="difficulty">
        <th mat-header-cell *matHeaderCellDef> difficulty </th>
        <td *matCellDef="let element" mat-cell> {{element.difficulty}}</td>
    </ng-container>
    <ng-container matColumnDef="storyPoints">
        <th mat-header-cell *matHeaderCellDef> storyPoints </th>
        <td *matCellDef="let element" mat-cell> {{element.storyPoints}}</td>
    </ng-container>
    <ng-container matColumnDef="progress">
        <th mat-header-cell *matHeaderCellDef> progress </th>
        <td *matCellDef="let element" mat-cell> {{element.progress}}</td>
    </ng-container>
    <ng-container matColumnDef="assignedPerson">
        <th mat-header-cell *matHeaderCellDef> assignedPerson </th>
        <td *matCellDef="let element" mat-cell> {{element.assignedPerson.displayName}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button routerLink="/home/tasks/{{element.id}}/edit">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteTask(element.id)"> 
                <mat-icon>delete</mat-icon> 
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

            </table>
        </div>
    </div>
</div>

