<div [class.alternative]="otherTheme">
<mat-toolbar color='primary'>
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>

        <div class="profile-card"> <img class="logo" width="50" src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.15752-9/90760429_646385366185471_2416763696433856512_n.png?_nc_cat=107&_nc_sid=b96e70&_nc_ohc=hvyK4CQiSSQAX8oG0MP&_nc_ht=scontent-otp1-1.xx&oh=db9b111471947121cadb10dad6619035&oe=5EA75468">
        </div>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-button (click)="changeTheme()">
                        <mat-icon>format_color_fill</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-button>
                        <mat-icon>person_outline</mat-icon>
                    </button>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
</div>

