<form class="example-form">
    <mat-form-field class="example-full-width">
      <input
        [(ngModel)]="username"
        matInput
        name="username"
        placeholder="Username"
      />
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea
        [(ngModel)]="password"
        matInput
        name="password"
        placeholder="Password"
      ></textarea>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea
        [(ngModel)]="email"
        matInput
        name="email"
        placeholder="Email"
      ></textarea>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea
        [(ngModel)]="displayName"
        matInput
        name="displayName"
        placeholder="Display name"
      ></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>role</mat-label>
      <mat-select [(value)]="role">
        <mat-option *ngFor="let role of roles" [value]="role">
          {{ role }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <button mat-raised-button color="accent" (click)="saveUser()" matTooltip="Save data" >Create</button>
  </form>
  