<mat-card class="mat-elevation-z12">
  <mat-card-title style="text-align:center;">Create User</mat-card-title>
        <mat-card-content>
<form action="">
    <mat-form-field class="example-full-width">
      <input
        [(ngModel)]="username"
        matInput
        name="username"
        placeholder="Username"
        required
      />
      <mat-error>Username is required</mat-error>
    </mat-form-field>
  
    <mat-form-field >
      <input
        [(ngModel)]="password"
        matInput
        name="password"
        placeholder="Password"
        required
        >

    </mat-form-field>
  
    <mat-form-field >
      <input
        [(ngModel)]="email"
        matInput
        name="email"
        placeholder="Email"
        required
      >
      <mat-error >Email is required</mat-error>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input
        [(ngModel)]="displayName"
        matInput
        name="displayName"
        placeholder="Display name"
        required
      >
      <mat-error >Display name is required</mat-error>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Role</mat-label>
      <mat-select [(value)]="role">
        <mat-option *ngFor="let role of roles" [value]="role">
          {{ role }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <button mat-raised-button 
    class="login-button" 
    (click)="saveUser()" 
    matTooltip="Save data"
    color="primary"
     >Create</button>
  </form>
</mat-card-content>
</mat-card>
  