<mat-nav-list >
    <div class="profile-card">
        <div class="header">
            <h2>Raluca Manoiu</h2>
            <h4>raluca.manoiu@yahoo.com</h4>

        </div>

        <img src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-1/p160x160/71032688_1487341274737510_5004378374404046848_o.jpg?_nc_cat=108&_nc_sid=dbb9e7&_nc_ohc=-tYjKAZg4g8AX9Cuqte&_nc_ht=scontent-otp1-1.xx&_nc_tp=6&oh=cc74230fde74060116b3cda9426e09fc&oe=5EA8659B" alt="Raluca M">
        
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="List-item-active" routerLink="/">Dashboard</a>
    <!-- <a mat-list-item routerLinkActive="List-item-active" routerLink="/posts">Projects</a> -->
    <a mat-list-item routerLinkActive="List-item-active" routerLink="/sprints-overview">Sprints</a>
    <a mat-list-item routerLinkActive="List-item-active" routerLink="/tasks-overview">Tasks</a>
    <!-- <a mat-list-item routerLinkActive="List-item-active" routerLink="/todo-list">Todo List</a> -->
        
<mat-divider></mat-divider>

        <h2 matSubheader>Manage</h2>
    

            <a mat-list-item  routerLink="/user">Create User</a>
   
            <a mat-list-item routerLinkActive="List-item-active" routerLink="/project">Create Project</a>

            <a mat-list-item routerLinkActive="List-item-active" routerLink="/sprint">Create Sprint</a>
 
            <a mat-list-item routerLinkActive="List-item-active" routerLink="/task">Create Task</a>



        

    <mat-divider></mat-divider>

    <a mat-list-item routerLinkActive="List-item-active" routerLink="/contact">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="List-item-active" routerLink="/contacts">
        <mat-icon>help_outline</mat-icon>
        About
    </a>

</mat-nav-list>

