<mat-nav-list style="background: rgb(121, 121, 121);">
    <div class="profile-card">
        <div class="header">
            <h2>Raluca Manoiu</h2>
            <h4>raluca.manoiu@yahoo.com</h4>

        </div>

        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Raluca M">
        
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="List-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="List-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="List-item-active" routerLink="/articles">Articles</a>
    <a mat-list-item routerLinkActive="List-item-active" routerLink="/user">Users</a>
    <a mat-list-item routerLinkActive="List-item-active" routerLink="/project">Projects</a>
    <a mat-list-item routerLinkActive="List-item-active" routerLink="/sprint">Sprints</a>
    <a mat-list-item routerLinkActive="List-item-active" routerLink="/task">Tasks</a>
    <a mat-list-item routerLinkActive="List-item-active" routerLink="/todo-list">Todo List</a>


    <mat-divider></mat-divider>
    
    <h2 matSubheader>Tools</h2>
    <a mat-list-item routerLinkActive="List-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="List-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>

