<!-- <div ng-app="MyApp" class="gridListdemoBasicUsage" ng-controller="AppCtrl as appCtrl">

    <h1>User List</h1>
    <div class='md-padding' layout="row" layout-wrap>
      <md-card flex-sm="25" flex-gt-sm="30" flex="100" ng-repeat="n in [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]">
        <img ng-src="https://i.ytimg.com/vi/ANM-dq5USTc/mqdefault_live.jpg">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">The title...</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            The description of Washed...
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
  </div>
  </div>
  </div> -->