<p>feedback works!</p>
<div class="row">
    <div class="col-md-12 container" ui-view>
      <h3>Contact Us</h3>
      <form class="example-form">
        

        <mat-form-field class="example-full-width">
            <input [(ngModel)]="emailTo" matInput name="emailTo" placeholder="Assigned Person Email"/>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input [(ngModel)]="username" matInput name="username" placeholder="Your Username"/>
          </mat-form-field>
      
        <mat-form-field class="example-full-width">
            <input [(ngModel)]="emailFrom" matInput name="emailFrom" placeholder="Your Email"/>
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
            <input [(ngModel)]="subject" matInput name="subject" placeholder="subject"/>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input [(ngModel)]="message" matInput name="message" placeholder="message"/>
        </mat-form-field>
      
        <button
        (click)="sendEmail()"
        color="accent"
        mat-raised-button
        matTooltip="Save data"
        >
        Create
        </button>
    </form>
