
    <div fxFlex="70" fxLayoutAlign="space-between center">
    
        <mat-card class="mat-elevation-z12">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    Structure</mat-card-title>
                <mat-card-subtitle>
                    The application is client-server</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://cdn.lynda.com/course/159186/159186-637199579696784897-16x9.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                   The program running on the client is the front-end (service user), the one running on the server is the back-end (service provider).
                   The back-end creates an API that the front-end uses.
                    Thus, the front-end developer does not need to know the features of the deployment, and the back-end developer does not need to know the front-end deployment.
                    The backend is implemented in java (designed as a Maven project - def: 
                    Maven is a project building and management system, written in Java.
                    The central concept in Maven is that of POM (Project Object Model),
                    an XML document that describes a project or a module thereof.
                </p>
            </mat-card-content>
            <mat-card-actions>
                
            </mat-card-actions>
        </mat-card>
    </div>

<div fxFlex="80">

    <mat-card class="mat-elevation-z12">
    	<mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>
                Project management application
                </mat-card-title>
            <mat-card-subtitle>Raluca Manoiu</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://cdn.lynda.com/course/580636/580636-636352869857574491-16x9.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                The management application is built to provide a friendly 
                interface and be as easy to use as possible. Teamwork is an 
                important factor for the success of any project. As a result,
                developing an efficient team is one of the essential responsibilities
                of a project manager. Teamwork amplifies the results of each member
                so that the overall result is greater than the individual 
                contributions made by each member. In order to promote high
                performance and effective teamwork, it is necessary to clearly 
                define the project objectives for all project members, ensuring 
                that all members understand the assigned tasks and last but not
                least encouraging collaboration, which in the project is feedback.
                In order to be more efficient in terms of the activities required 
                for an IT company, it is necessary to automate these processes,
                so there is a need for a software system that includes these activities,
                to help minimize the time required to carry out activities 
                and to a user-friendly interface that is easy to use.
            </p>
        </mat-card-content>
    </mat-card>
    </div>
    
    


   
 
    <div fxFlex="70" fxLayoutAlign="space-between center">
        <mat-card class="mat-elevation-z12">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    Architecture</mat-card-title>
                <mat-card-subtitle>Documentation</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://cdn.lynda.com/course/751335/751335-637199551048986095-16x9.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Most web applications are developed according to MVC (Model-View-Controller), which is a generic architecture of a web application.
                    The data structuring model is separated from the way of processing (application control, business logic) and the way of presenting them (Web interface) using the principle of demarcation of responsibilities (separation of concerns).
                    Controller is responsible for receiving requests from the client (GET / POST requests issued based on user actions) and manages the resources needed to satisfy requests.
                    Usually, it will call a model according to the requested action and then select an appropriate view.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button url="https://github.com/Ralucamanoiu27/ProjectManagement">
                    <mat-icon>code</mat-icon>
                    Downloade source code
                    
                </button>
                
            </mat-card-actions>
        </mat-card>
   
    </div>


    
    
    
    