<mat-card class="mat-elevation-z12">
  <mat-card-title style="text-align:center;">Create Sprint</mat-card-title>
        <mat-card-content>
<form action="">
    <mat-form-field class="example-full-width">
        <input
          matInput
          name="name"
          placeholder="Name"
          required
          [(ngModel)]="name"
          >
          <mat-error>Name is required</mat-error>
          
        
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input
        [formControl]="myControl"
        [matAutocomplete]="auto"
        aria-label="proiect"
        matInput
        placeholder="Proiect"
        required
        >
        <mat-error>Select a project</mat-error>
      
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input
        [(ngModel)]="dateFrom"
        matInput
        name="name"
        placeholder="Start date"
        required
        type="date"
      />
      <mat-error>Select a start date</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input
        [(ngModel)]="dateTo"
        matInput
        name="name"
        placeholder="End date"
        required
        type="date"
      >
      <mat-error>Select a end date</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <textarea
        [(ngModel)]="plannedStoryPoint"
        matInput
        name="name"
        placeholder="Planned story points"
      ></textarea>
    </mat-form-field>
    <br>
    <button
    mat-raised-button
    matTooltip="Save the recording"
    (click)="saveSprint()"
    class="login-button"
    color="primary"
    routerLink="/home/sprints-overview"
    >
      Create
    </button>

  </form>
</mat-card-content>
</mat-card>
