<form class="example-form">
    <mat-form-field class="example-full-width">
      <input [(ngModel)]="name" matInput name="name" placeholder="name"/>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea
        [(ngModel)]="description"
        matInput
        name="description"
        placeholder="Description"
      ></textarea>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input
        [formControl]="myControl"
        [matAutocomplete]="auto"
        aria-label="Admin"
        matInput
        placeholder="Admin"
        type="text"
      />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option.displayName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  
    <button
    (click)="saveProject()"
    color="accent"
    mat-raised-button
    matTooltip="Salveaza datele"
    >
    Create
    </button>
</form>

  
