<mat-card class="mat-elevation-z12">
  <mat-card-title style="text-align:center;">Create Project</mat-card-title>
        <mat-card-content>
<form action="">
    <mat-form-field class="example-full-width">
      <input 
      [(ngModel)]="name"
       matInput name="name" 
       placeholder="Name"
       required>
       <mat-error>Name is required</mat-error>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea
        [(ngModel)]="description"
        matInput
        name="description"
        placeholder="Description"
      ></textarea>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input
        [formControl]="myControl"
        [matAutocomplete]="auto"
        aria-label="Admin"
        matInput
        placeholder="Admin"
        type="text"
      />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option.displayName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  
    <button
    (click)="saveProject()"
    class="login-button"
    mat-raised-button
    matTooltip="Save the data"
    color="primary"
    >
    Create
    </button>
  </form>
</mat-card-content>
</mat-card>

  
