<!-- <div  fxLayoutAlign="space-between center" fxLayoutGap="10px" > -->
<div fxFlex="80">

<mat-card class="mat-elevation-z12">
  <mat-card-title style="text-align:center;">Update Task</mat-card-title>
        <mat-card-content>
<form *ngIf="task"  action="">
    <mat-form-field class="example-full-width">
      <input
        [(ngModel)]="task.nameTask"
        matInput
        name="nameTask"
        placeholder="Name"
      />
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea
        [(ngModel)]="task.descriptionTask"
        matInput
        name="descriptionTask"
        placeholder="Description"
      ></textarea>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
        <input
          [formControl]="myControlTwo"
          [matAutocomplete]="autotwo"
          aria-label="sprint"
          matInput
          placeholder="Sprint"
          type="text"
        />
        <mat-autocomplete #autotwo="matAutocomplete" [displayWith]="displayFnTwo">
          <mat-option
            *ngFor="let optiontwo of filteredOptionsTwo | async"
            [value]="optiontwo"
          >
            {{ optiontwo.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
  
    <mat-form-field>
      <mat-label>Difficulty</mat-label>
      <mat-select [(value)]="task.difficulty">
        <mat-option *ngFor="let difficulty of difficulties" [value]="difficulty">
          {{ difficulty }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input
        [(ngModel)]="task.storyPoints"
        matInput
        name="storyPoints"
        placeholder="Story points"
      />
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select [(value)]="task.progress">
        <mat-option *ngFor="let progress of progresses" [value]="progress">
          {{ progress }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input
        [formControl]="myControl"
        [matAutocomplete]="auto"
        aria-label="AssignedPerson"
        matInput
        placeholder="Assigned person"
        type="text"
      />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option.displayName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  
    <button mat-raised-button
    matTooltip="Update data"
    (click)="updateTask()"
    class="update-button"
    color="primary"
   
  >
    Update
  </button>
</form>
</mat-card-content>
</mat-card>
</div>




<div fxFlex="80" fxLayoutAlign="space-between center">
<!-- <div class="mat-elevation-z8"> -->
  <mat-card class="mat-elevation-z12">
   
    <mat-card-title style="text-align:center;">Feedback</mat-card-title>
          <mat-card-content>
            <form action="">
                
          <mat-form-field class="example-full-width">
            <input [(ngModel)]="emailFrom" matInput name="emailFrom" placeholder="Your Email"/>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <textarea [(ngModel)]="message" matInput name="message" placeholder="Message"></textarea>
        </mat-form-field>

        <button
        (click)="sendEmail()"
        color="primary"
        class="update-button"
        mat-raised-button
        matTooltip="Save data"
        >
        Send Message
        </button>
  </form>
</mat-card-content>

</mat-card>

</div>



