
<mat-card class="mat-elevation-z12">
  <mat-card-title style="text-align:center;">Contact us</mat-card-title>
        <mat-card-content>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="username" matInput name="username" placeholder="username"/>
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
            <input [(ngModel)]="emailFrom" matInput name="emailFrom" placeholder="email"/>
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
            <input [(ngModel)]="subject" matInput name="subject" placeholder="subject"/>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input [(ngModel)]="message" matInput name="message" placeholder="message" type="text"/>
        </mat-form-field>
      
        <button
        (click)="sendEmail()"
        color="primary"
        mat-raised-button
        matTooltip="Save data"
        class="send-button"
        >
        Send
        </button>
    </form>
  </mat-card-content>
</mat-card>
    
      
    