<mat-card class="mat-elevation-z12">
  <mat-card-title style="text-align:center;">Update Project</mat-card-title>
        <mat-card-content>
<form *ngIf="project" class="example-form" >
    <mat-form-field class="example-full-width">
      <input [(ngModel)]="project.name" matInput name="name" placeholder="Name"/>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea
        [(ngModel)]="project.description"
        matInput
        name="description"
        placeholder="Description"
      ></textarea>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input
        [formControl]="myControl"
        [matAutocomplete]="auto"
        aria-label="Admin"
        matInput
        placeholder="Admin"
        type="text"
      />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option.displayName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  
    <button
      (click)="updateProject()"
      aria-label="Button that displays a tooltip that has custom delays through a default config"
      color="primary"
      mat-raised-button
      matTooltip="Update data"
      class="login-button"
      routerLink="/home"
    >
      Update
    </button>

  </form>
</mat-card-content>
</mat-card>





  